@use "../../templates/template";


.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
    &_b{
        display: flex;
        align-items: center;
        gap: 20px;
        input{
            accent-color: template.$primary-color;
            cursor: pointer;
        }
        &_info{
            display: flex;
            flex-direction: column;
            p{
                color: template.$text-neutral-700;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                span{
                    color: template.$text-gray-500;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            
        }
    }
    div {
        .show_dialog{
            cursor: pointer;
            &:hover{
                color: red;transition: ease-in-out .2s;
            }
        }

    }
}