$primary-color: #9333EA;
$text-gray-500: #6B7280;
$color-white: #FFFFFF;
$text-neutral-700: #404040;

$primary-bg-color: gra;
$secondary-bg-color: rgba(107, 114, 128, 0.06);


$font-family: 'Roboto', sans-serif;