@use "../../templates/template";

.main{
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 30px 60px;
    
    .tasks{
        position: relative;
        width: 70%;
        height: 615px;
        background-color: template.$color-white;
        border-radius: 12px;
        flex-shrink: 0;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        column-gap: 20px;
        &_container{
            height: 90%;
            overflow-y: scroll;
        }
        em{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: template.$text-gray-500;
            font-size: 12px;
        }
        .loader{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@keyframes fade {
    0%{left: -100px;}
    100%{left: 20px;}
}

@media (max-width: 768px) {
    .main{
        padding: 30px;
    }
}

@media (max-width: 426px) {
    .main{
        flex-wrap: wrap;
        padding: 20px;
        .aside{
            width: 100%;
            > div{
                display: flex;
                justify-content:center;
                align-items: center;
                gap: 10px;
            }
        }
        .tasks{
            width: 100%;
            height: 500px;
        }
    }
}
